INFOPLIST_FILE = ${TARGET_NAME}/Info.plist
CODE_SIGN_ENTITLEMENTS = ${TARGET_NAME}/${TARGET_NAME}.entitlements
GENERATE_INFOPLIST_FILE = YES

SUPPORTED_PLATFORMS = macosx iphonesimulator iphoneos appletvsimulator appletvos xrsimulator xros
TARGETED_DEVICE_FAMILY = 1,2,3
DEVELOPMENT_ASSET_PATHS = ${TARGET_NAME}/Preview\ Content

SKIP_INSTALL = NO

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
