#include "User.xcconfig"

// Primary behaviors
MACOSX_DEPLOYMENT_TARGET = 14.0
IPHONEOS_DEPLOYMENT_TARGET = 17.0
TVOS_DEPLOYMENT_TARGET = 17.0
WATCHOS_DEPLOYMENT_TARGET = 10.0
VISIONOS_DEPLOYMENT_TARGET = 1.0
ENABLE_HARDENED_RUNTIME = YES
DEAD_CODE_STRIPPING = YES
SWIFT_STRICT_CONCURRENCY = complete
SWIFT_VERSION = 5.0
CODE_SIGN_STYLE = Automatic
CODE_SIGN_IDENTITY = Apple Development
PRODUCT_NAME = $(TARGET_NAME)

// Version information
CURRENT_PROJECT_VERSION = 1
CURRENT_PROJECT_DISPLAY_VERSION = 1.0.0
MARKETING_VERSION = $CURRENT_PROJECT_DISPLAY_VERSION

// Secondary behaviors
GCC_PREPROCESSOR_DEFINITIONS[config=Debug] = DEBUG=1
SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Debug] = DEBUG
SWIFT_COMPILATION_MODE[config=Release] = wholemodule
SWIFT_OPTIMIZATION_LEVEL[config=Debug] = -Onone

// Modern recommendations, but not critical
ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES

// Default target settings
PRODUCT_NAME = ${TARGET_NAME}
PRODUCT_MODULE_NAME = ${TARGET_NAME}
PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_ID_PREFIX)org.massicotte.${PRODUCT_MODULE_NAME}
SKIP_INSTALL = YES
