#include "Configurations/MultiPlatform.xcconfig"

// note that the bundle layout of macOS apps is slightly different
LD_RUNPATH_SEARCH_PATHS = @executable_path/Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = @executable_path/../Frameworks @loader_path/Frameworks

DYLIB_COMPATIBILITY_VERSION = 1
